.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.button {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menus .button
{
    background-color: #ffc107;
    color:black;
}
.button:hover {
    background-color: #0056b3;
}
.quantity-btn {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    border-radius: 10%;
    border: 1px solid #ccc;
    background-color: green;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.quantity-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.split-container {
    display: flex;
    height: 100vh; /* Use 100% of the viewport height */
  }
  .split-section {
    flex: 1; /* Equal distribution of height */
    border: 1px solid #ccc; /* Adding a border for visualization */
    padding: 20px;
  }