body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

/* sidebar */
#sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  left: -250px;
  top: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 1000; /* Added z-index to make the sidebar appear on top */
}

#sidebar.active {
  left: 0;
}

#sidebar a {
  padding: 5px;  
  font-size: 14px;
  color: #343a40;
  display: block;
}

#sidebar a:hover {
 text-decoration: underline;
}

 #logo {
  width: 200px;
  height: 50px; 
}

#sidebarCollapse {  
  cursor: pointer;
  position: fixed;
  background-color: gainsboro;
  padding: 0.7px 4px;
  border-radius: 2px;
  border: 1px solid black;
  left: 5px;
  top: 5px;  
  z-index: 1001; /* Ensure the sidebar toggle button appears above the sidebar */
}
#sidebarCollapse:hover
{
  background-color: gray;  
} 

#content {
  margin-left: 0px; /* Adjust content margin to accommodate the sidebar */
  transition: margin-left 0.3s ease;
}

#sidebar.active + #content {
  margin-left: 250px; /* When the sidebar is active, move the content back to the original position */
}

