<div [ngClass]="{'invoice mt-5':OrderId===0, 'border border-dark p-1':OrderId!==0}">
    <div *ngIf="OrderId==0" class="header">
        <h4>Restaurant Invoice</h4>
        <p>Date: {{order?.OrderDate | date:'dd/MM/yyyy'}}</p>
    </div>
    <div  class="items" >        
        <div class="item item-header">
            <span class="item-cell" style="flex: 4;">Item</span>
            <span class="item-cell" style="flex: 1;">Price (₹)</span>
            <span class="item-cell" style="flex: 1;">Quantity</span>
            <span class="item-cell" style="flex: 1;">Total (₹)</span>
        </div>     
        <ng-container *ngFor="let orderGroup of grouped | keyvalue; let i=index;">
          <div class="item item-header">
             KOT - {{i+1}}
          </div>
          <div  *ngFor="let order of orderGroup.value" class="item">
              <span class="item-cell" style="flex: 4;">{{order.MenuName}}</span>
              <span class="item-cell" style="flex: 1;">{{order.Price}}</span>
              <span class="item-cell" style="flex: 1;">{{order.Quantity}}</span>
              <span class="item-cell" style="flex: 1;">{{order.Total}}</span>
          </div>  
      </ng-container>      
    </div>
    <div class="total">
        <p>Total: ₹{{order?.TotalAmount}}</p>
    </div>
</div>

