<div class="login-wrapper">
    <div class="login-form">
      <div class="login-logo">
        <img src="/assets/logo-transparent-png.png" alt="Logo">
       
      </div>
      <form action="/login" method="post">
        <input type="email" name="email" class="form-control login-input" placeholder="Email Address">
        <input type="password" name="password" class="form-control login-input" placeholder="Password">
        <button type="submit" class="btn btn-primary login-button">Login</button>
      </form>
    </div>
  </div>