<div class="container mt-3">
    <div class="row row-cols-2 row-cols-md-6 g-4">
        <div *ngFor="let table of $tables | async " class="col" [routerLink]="['/transaction','menu-panel',table.ID,table.Description,table.CurrentOrderId]" >
            <div [ngClass]="{'square-engged':table.IsOccupied}" class="square position-relative">{{ table.Description}}

                <span *ngIf="table.IsOccupied && table.TotalAmount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                    ₹{{table.TotalAmount}}                 
                  </span>                
            </div>
        </div>
    </div>
</div>