<div class="container mt-3">
    <div *ngIf="tableId!==0" class="p-2">
        <div>
            <a  class="link" [routerLink]="['/tables']" > << Back</a>
        </div>
        <div class="mt-3">
            <h5>Change Table To:</h5>
        </div>  
    </div>
    <div class="row row-cols-2 row-cols-md-6 g-4">
        <div *ngFor="let table of tables" class="col" (click)="TableClick(table.ID,table.Description,table.CurrentOrderId)"  >
            <div  [ngClass]="{'square-engged':table.IsOccupied}" class="square position-relative">
               <div class="d-inline">
                    <div class="p-1">{{ table.Description}}</div>                 
                    <div *ngIf="table.CurrentOrderId>0" class="order-text">Order No {{table.CurrentOrderId}}</div> 
                </div>
                <span *ngIf="table.IsOccupied && table.TotalAmount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                    ₹{{table.TotalAmount}}                 
                  </span>                
            </div>
        </div>
    </div>
</div>